In [5]:
import pandas as pd
from help_function import *

In [47]:
12466826-12585428

-118602

# Chainlink

In [48]:
from_block = 12466826
df_list = []
while True:
    if from_block == 14957468: break
    to_block = from_block + 118602
    data_path = f"data/crawled/chainlink_eth_usd_gas_info_{from_block}_{to_block}.csv"
    df_list.append(pd.read_csv(data_path))
    from_block = to_block
log_tx_hash = pd.concat(df_list).reset_index(drop=True)
log_tx_hash

,blockNum,index,txHash,gas,gasPrice,gasTipCap,gasFeeCap
0,12466826,169,0xfa10370d60c86502d8e2da878a75cf0a754926887a7d...,500000,202000000000,202000000000,202000000000
1,12466847,255,0x310fd97b6328ded404e8591c2162a0d9ff4931802d83...,500000,182000000000,182000000000,182000000000
2,12466859,185,0x4ef4b76b41638656a9151a445dff660ded713f99fefc...,500000,188093018519,188093018519,188093018519
3,12466872,311,0x3fe513d83cfd761c01bcf3f08a8ec12cbaa31d109e42...,400000,178710000000,178710000000,178710000000
4,12466878,210,0x44ff92880f06bd3d3b141db65365adefd3496082da77...,500000,178000000000,178000000000,178000000000
...,...,...,...,...,...,...,...
23862,14862210,45,0xd38d438c354b2c4029f781e90b425756513dea9f52e4...,500000,61620374252,2000000000,61620374252
23863,14862344,112,0xee484566c886e794828f3656be82e6f8737ee7a83c58...,500000,17306184548,17306184548,17306184548
23864,14862466,41,0x94003e1cd5ad9a14ca8a77b598eb4482d7a3c6e1dac6...,500000,63240007272,2000000000,63240007272
23865,14862733,3,0x3a2afd0478d802974cd49bb1de0f48e301c1c550836b...,500000,20907108982,1510000000,20907108982
23866,14862994,370,0xead8eeb67d2d1033d924c8b5fd1c46c5601f84e69e6c...,500000,11380317929,11380317929,11380317929

In [49]:
from_block = 12466826
df_list = []
while True:
    if from_block == 14957468: break
    to_block = from_block + 118602
    data_path = f"data/crawled/chainlink_eth_usd_{from_block}_{to_block}.csv"
    df_list.append(pd.read_csv(data_path))
    from_block = to_block
log_price = pd.concat(df_list).reset_index(drop=True)
log_price

,topic0,current,roundId,updatedAt,blockNum,index
0,0x0559884fd3a460db3073b7fc896cc77986f16e378210...,0x00000000000000000000000000000000000000000000...,0x00000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,12466826,169
1,0x0559884fd3a460db3073b7fc896cc77986f16e378210...,0x00000000000000000000000000000000000000000000...,0x00000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,12466847,255
2,0x0559884fd3a460db3073b7fc896cc77986f16e378210...,0x00000000000000000000000000000000000000000000...,0x00000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,12466859,185
3,0x0559884fd3a460db3073b7fc896cc77986f16e378210...,0x00000000000000000000000000000000000000000000...,0x00000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,12466872,311
4,0x0559884fd3a460db3073b7fc896cc77986f16e378210...,0x00000000000000000000000000000000000000000000...,0x00000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,12466878,210
...,...,...,...,...,...,...
23862,0x0559884fd3a460db3073b7fc896cc77986f16e378210...,0x00000000000000000000000000000000000000000000...,0x00000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,14862210,45
23863,0x0559884fd3a460db3073b7fc896cc77986f16e378210...,0x00000000000000000000000000000000000000000000...,0x00000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,14862344,112
23864,0x0559884fd3a460db3073b7fc896cc77986f16e378210...,0x00000000000000000000000000000000000000000000...,0x00000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,14862466,41
23865,0x0559884fd3a460db3073b7fc896cc77986f16e378210...,0x00000000000000000000000000000000000000000000...,0x00000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,14862733,3
23866,0x0559884fd3a460db3073b7fc896cc77986f16e378210...,0x00000000000000000000000000000000000000000000...,0x00000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,14862994,370

In [50]:
df_list = []
for i in range(7):
    data_path = f"data/crawled/blockTime_data_{i}.csv"
    df_list.append(pd.read_csv(data_path))
blockTime_df = pd.concat(df_list).reset_index(drop=True)
blockTime_df

         blockNum   blockTime
0        12696827  1624537680
1        12696828  1624537707
2        12696829  1624537732
3        12696830  1624537737
4        12696831  1624537742
...           ...         ...
2430238  14829997  1653314684
2430239  14829998  1653314686
2430240  14829999  1653314701
2430241  14830000  1653314722
2430242  14830001  1653314746

[2430243 rows x 2 columns]

In [51]:
mempool_df  = pd.concat([log_tx_hash, log_price], axis=1).iloc[:,:-2]
mempool_df  = pd.merge(mempool_df, blockTime_df, on="blockNum", how="left")
mempool_df = mempool_df['blockNum index blockTime txHash current'.split(' ')]
mempool_df['current'] = mempool_df['current'].apply(lambda x: hex2int(x)*10e-9)
mempool_df = mempool_df.dropna()
mempool_df

,blockNum,index,blockTime,txHash,current
1,12466847,255,1.621454e+09,0x310fd97b6328ded404e8591c2162a0d9ff4931802d83...,2606.088954
2,12466859,185,1.621454e+09,0x4ef4b76b41638656a9151a445dff660ded713f99fefc...,2622.125382
3,12466872,311,1.621455e+09,0x3fe513d83cfd761c01bcf3f08a8ec12cbaa31d109e42...,2638.169486
4,12466878,210,1.621455e+09,0x44ff92880f06bd3d3b141db65365adefd3496082da77...,2653.400000
5,12466881,200,1.621455e+09,0x03e999b45a9f15db1bd743407a479c3c5ab737e71159...,2671.714203
...,...,...,...,...,...
24133,14839334,124,1.653447e+09,0xbc82cae96efa9bec6724292727c730a4300690dece06...,2008.849288
24134,14839389,159,1.653447e+09,0x83e6271860d33179cd38f295aeb867fb0631e5de58be...,2014.589103
24135,14839662,44,1.653451e+09,0xea042335ae9d2688ca8ac4724e57957552ac4bb1bc9f...,2013.860850
24136,14839882,121,1.653454e+09,0x96e0e5aad7c3a735e0ff63e11216dc514faf7b4c42da...,2003.662571
24137,14839908,129,1.653455e+09,0x6fa1ab4d15963d4dc39f960b6aa69421bc124ca69335...,2003.824006

In [52]:
mempool_df.to_csv("data/chainlink_mempool_df.csv", index=False)

# Maker

In [53]:
from_block = 12466826
df_list = []
while True:
    if from_block == 14957468: break
    to_block = from_block + 118602
    data_path = f"data/crawled/maker_dao_eth_usd_median_gas_info_{from_block}_{to_block}.csv"
    df_list.append(pd.read_csv(data_path))
    from_block = to_block
log_tx_hash = pd.concat(df_list).reset_index(drop=True)

from_block = 12466826
df_list = []
while True:
    if from_block == 14957468: break
    to_block = from_block + 118602
    data_path = f"data/crawled/maker_dao_eth_usd_median_{from_block}_{to_block}.csv"
    df = pd.read_csv(data_path)

    cut_gap = int(len(df['Data'].iloc[0])/2)
    cut_start = 0
    for i, new_col in enumerate("price age".split(" ")):
        cut_end = cut_start + cut_gap
        df[new_col] = df['Data'].apply(lambda x: x[cut_start:cut_end])
        cut_start = cut_end
    del df['Data']

    def reformat_log_maker_dao_median(raw_data):
        data = copy.deepcopy(raw_data)
        for col_name in 'price age'.split(' '):
            data[col_name] = raw_data[col_name].map(hex2int)
        return data
    df = reformat_log_maker_dao_median(df)
    df.price = df.price * 10e-19

    df.sort_values(['blockNum', 'index'])
    df_list.append(df)

    from_block = to_block
log_price = pd.concat(df_list).reset_index(drop=True)

df_list = []
for i in range(7):
    data_path = f"data/crawled/blockTime_data_{i}.csv"
    df_list.append(pd.read_csv(data_path))
blockTime_df = pd.concat(df_list).reset_index(drop=True)
# blockTime_df

In [54]:
maker_mempool_df  = log_tx_hash.merge(log_price, how='left', on=['blockNum', "index"])#  pd.concat([log_tx_hash, log_price], axis=1).iloc[:,:-2]
maker_mempool_df  = pd.merge(maker_mempool_df, blockTime_df, on="blockNum", how="left")
maker_mempool_df = maker_mempool_df['blockNum index blockTime txHash price'.split(' ')]
# maker_mempool_df['current'] = maker_mempool_df['current'].apply(lambda x: hex2int(x)*10e-9)
maker_mempool_df = maker_mempool_df.dropna()
maker_mempool_df

,blockNum,index,blockTime,txHash,price
0,12466894,20,1.621455e+09,0xb9086471df35d1c866180f616b8138b45a5c018aa480...,2684.52
1,12467027,65,1.621457e+09,0x4f470e4119450f4d11551f3db7ea7d6f2f2294e3b4e9...,2628.76
2,12467111,374,1.621458e+09,0xcf9b2476140ef6769e2cd8e24f37f4edc1eff8d40e48...,2570.07
3,12467235,347,1.621460e+09,0x4879de595098ecc2ecfc329794b60dcd578b01f76f67...,2508.55
4,12467307,182,1.621461e+09,0x566ab08f51b970c27f16839dc82ad7af1d7d5dcc7ed0...,2566.59
...,...,...,...,...,...
3634,14836223,386,1.653402e+09,0x343be4c5c985a3fd07e5023e13dad281f7bd68bc9b24...,1918.59
3635,14836624,313,1.653408e+09,0x3ed4f59379d2edcc76a5dcc3cb086d7d50df919bd6c3...,1957.58
3636,14837482,367,1.653421e+09,0x227f9b4ecaea54f85d9b1d0bb223d9dae1b2038cc9ec...,1950.31
3637,14838456,347,1.653434e+09,0x6759741dc5363e9ae3a7271c826d082958f1c9f666db...,1979.53442
3638,14839362,320,1.653447e+09,0x0859826f77bb6eca5f6c297ee3367d513c7cc75e6e67...,2010.5

In [55]:
maker_mempool_df.to_csv("data/maker_mempool_df.csv", index=False)

# AAVE

In [6]:
from_block = 12466826
df_list = []
while True:
    if from_block == 14957468: break
    to_block = from_block + 118602
    data_path = f"data/crawled/aave_liquidationcall_gas_info_{from_block}_{to_block}.csv"
    df_list.append(pd.read_csv(data_path))
    from_block = to_block
log_price = pd.concat(df_list).reset_index(drop=True)

df_list = []
for i in range(7):
    data_path = f"data/crawled/blockTime_data_{i}.csv"
    df_list.append(pd.read_csv(data_path))
blockTime_df = pd.concat(df_list).reset_index(drop=True)
# blockTime_df

In [7]:
log_price

,blockNum,index,txHash,gas,gasPrice,gasTipCap,gasFeeCap
0,12466967,124,0x1d8401725f337d6559b161315f8505789405abee3d33...,1700003,147000000000,147000000000,147000000000
1,12466967,158,0x4aebfe1610cc1a81412f3c7ae2b13c5598c3e492e2d2...,1120003,147000000000,147000000000,147000000000
2,12466967,180,0x1ce2698b7e915795d1e6ef7f445700c9802041713bec...,1538450,147000000000,147000000000,147000000000
3,12466971,78,0x1c3376b32fda9759f36fe790ca6426784e727323f7bf...,1055112,139000000000,139000000000,139000000000
4,12467023,201,0xfb4712eaa323a02dad657a12f9f5061db15227fd09f7...,1300000,140000000000,140000000000,140000000000
...,...,...,...,...,...,...,...
17380,14957401,59,0xd457ae4ed8c1ba5b00bf3be42b78e8fe348cc7e5b467...,1144499,35606341494,35606341494,35606341494
17381,14957402,17,0xd61fbf361afbb6b006edc9ac908c59024b1b097b939f...,854265,79400072804,0,79400072804
17382,14957406,464,0x30097a7053a467973750a1846721f40cc01c73186643...,782922,33231204675,33231204675,33231204675
17383,14957415,53,0x254ed5beb087ddc0231f643a77fbfd23ad220cb4e3c3...,641442,46136848103,46136848103,46136848103
17384,14957422,160,0xa227535aeb8bc1b5098ee79f1bd5421c619f7ad755c3...,772476,36978088768,36978088768,36978088768

In [67]:
aave_mempool = log_price['blockNum index txHash'.split(' ')].merge(blockTime_df, how='left', on=['blockNum']).dropna()
aave_mempool.to_csv("data/aave_mempool.csv", index=False)